- if answer.errors.present?
  .error-message.alert
    ul
      - answer.errors.full_messages.each do |message|
        li = message

.form-container
  = form_with(model: answer, local: true) do |f|
    =  hidden_field_tag :question_id, question.id
    .form-item
      = f.text_area :body, rows: '8', required: 'required', class: 'form-item__text'
      span#answer_counter.counter
    .form-item.submit
      - if answer.new_record?
        = f.submit '登録する', class: 'btn btn-submit'
      - else
        = f.submit '内容変更', class: 'btn btn-submit'

javascript:
  document.addEventListener('turbolinks:load', () => {
    const maxCount = 2000
    const inputArea = document.getElementById('answer_body')
    const counter = document.getElementById('answer_counter')

    const rawValue = inputArea.value
    const crlf = rawValue.match(/(\r\n|\n|\r)/g)
    const crlfCount = crlf ? crlf.length : 0
    const inputCharCount = inputArea.value.length + crlfCount
    counter.innerHTML = maxCount - inputCharCount

    inputArea.onkeyup = () => {
      const rawValue = inputArea.value
      const crlf = rawValue.match(/(\r\n|\n|\r)/g)
      const crlfCount = crlf ? crlf.length : 0
      const inputCharCount = inputArea.value.length + crlfCount
      counter.innerHTML = maxCount - inputCharCount
      if (maxCount - inputCharCount < 0) {
        counter.style.color = '#fdad10'
      } else {
        counter.style.color = '#ccc'
      }
    }
  });
