html {
  font-size: 15px;
  font-family: verdana, arial, helvetica, sans-serif;
  color: $text-color;
}

@media screen and (max-width:768px) {
  html {
    font-size: 13px;
  }
}

body {
  background: $color3;

  &.is-admin-page {
    background: $color1;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $color2;

  // &:hover {
  //   opacity: 0.4;
  // }
}

b,
i,
strong,
em,
blockquote,
p,
q,
span,
figure,
img,
h1,
h2,
header,
input,
a {
  transition: all 0.2s ease;
}
