// font
$font-family-base: sans-serif;
$font-family-logo: 'Baloo Tammudu 2', cursive;

// color
$text-color: #333;
$white: #fff;
$color1: #405663;
$color2: #f56a64;
$color3: #fdad10;
$gray1: #f4f4f4;
$gray2: #ccc;
$gray3: #7F7F7F;
