// font
$font-family-base: sans-serif;
$font-family-logo: 'Baloo Tammudu 2', cursive;

$color1: #1f2735;
$color2: #e84f4f;
$color3: #71bcc4;
$color4: #787b84;
$color5: #43b3e6;
$color6: #f9fbef;
$color7: #fdad10;

$text-color: #333;
$white: #fff;
$color1: #405663;
$color2: #f56a64;
$color3: #f4f4f4;
$color4: #7F7F7F;
$color5: #ccc;
