.btn {
  display: block;
  width: 120px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  background-color: $color2;
  border-radius: 4px;
  color: white;
  border: none;

  &:hover {
    color: white;
    opacity: 0.8;
  }
}
@media screen and (max-width:768px) {
  .btn {
    width: 100px;
    height: 40px;
    line-height: 40px;
  }
}

.btn-user {
  background-color: $color1;
}

.btn-owner {
  background-color: $white;
  border: 1px solid $color2;
  color: $color2;
  &:hover {
    opacity: 1;
    color: $color2;
  }
}

.list-item__links {
  & .btn {
    width: 70px;
  }
}

.btn-edit {
  width: 200px;
}

.btn-delete {
  background-color: $color1;
}

.btn-submit {
  width: 180px;
  height: 44px;
  line-height: 44px;
  cursor: pointer;
  margin-top: 10px;
}

@media screen and (max-width:768px) {
  .btn-submit {
    width: 100%;
  }
}

.btn-icon {
  margin-left: 10px;
  & i {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    font-size: 1.4rem;
    border: 1px solid $color2;
    border-radius: 50%;
    &.fa-trash-alt {
      color: $color1;
      border: 1px solid $color1;
    }
  }
  &:hover i {
    background: $color2;
    color: $gray1;
    &.fa-trash-alt {
      background: $color1;
      color: $gray1;
    }
  }
}

.btn-admin-user {
  margin-left: 10px;
}

@media screen and (max-width:768px) {
  .btn-admin-user {
    width: 92px;
    height: 35px;
    line-height: 35px;
  }

  .btn-icon {
    margin-left: 6px;
    & i {
      width: 30px;
      height: 30px;
      line-height: 28px;
      font-size: 1.2rem;
    }
  }
}

.delete-link {
  padding-bottom: 2px;
  color: lighten($gray3, 18%);
  text-decoration: underline;
  &:hover {
    color: $color2;
  }
}
@media screen and (min-width:768px) {
  .delete-link {
    position: absolute;
    right: 40px;
    bottom: 10px;
  }
}

@media screen and (max-width:768px) {
  .btn-edit {
    width: 100%;
  }
  .delete-link {
    flex-basis: 100%;
    max-width: 100%;
    margin-top: 14px;
    text-align: right;
  }
}
