.btn {
  display: block;
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: $color2;
  border-radius: 4px;
  color: white;
  border: none;

  &:hover {
    color: white;
    opacity: 0.8;
  }
}

.btn-user {
  background-color: $color1;
}

.list-item__links {
  & .btn {
    width: 70px;
  }
}

.btn-edit {
  margin-right: 10px;
}

.btn-delete {
  background-color: $color1;
}

.btn-submit {
  width: 180px; 
}

.btn-skip {
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  margin-left: 10px;
}

