.flash-message {
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.error-message {
  border-radius: 4px;
}

.notice {
  border: 1px solid $color2;
  color: $color2;
  background: lighten($color2, 27%);
}
.alert {
  border: 1px solid $color3;
  color: $color3;
  background: lighten($color3, 35%);
}
