.flash-message {
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 4px;
}

.error-message {
  border-radius: 4px;
}

.notice {
  border: 1px solid plum;
  color: plum;

}
.alert {
  border: 1px solid tomato;
  color: tomato;
}
