.form-container {
  margin-bottom: 20px;
  &.is-question {
    margin-top: 30px;
  }
}

.form-item {
  &__text {
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 16px;
    width: 100%;
    font-size: 1rem;
    line-height: 1.4;
    color: $text-color;
    outline: none;
    resize: vertical;
    &:focus {
      box-shadow: 0 0 2px 2px rgba(245, 106, 100, 0.4);
    }
  }
  &.submit {
    display: flex;
    justify-content: center;
  }
}

.counter {
  display: flex;
  justify-content: flex-end;
  padding-top: 5px;
  color: $gray2;
}
