.form-container {
  margin-bottom: 20px;
}

.form-item {
  margin-bottom: 20px;
  &__text {
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 16px;
    width: 100%;
    font-size: 1rem;
    line-height: 1.4;
    color: $text-color;
    outline: none;
    &:focus {
      border: 1px solid $color2;
      box-shadow: 0 0 0 2px rgba(245, 106, 100, 0.4);
    }
  }
  &.submit {
    display: flex;
    justify-content: center;
  }
}
