.form-container {
  margin: 20px 0;
}

.form-item {
  margin-bottom: 10px;

  &__text {
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 16px;
    width: 100%;
    font-size: 1rem;
    line-height: 1.4;
    color: #333;
    outline: none;
    margin-bottom: 20px;
    &:focus {
      border: 1px solid $color2;
    }
  }

  &.submit {
    display: flex;
    justify-content: center;
  }
}
