.is-admin-page .header {
  background: $color3;
}

.header {
  background-color: $color1;
  height: 60px;

  &__title {
    font-family: $font-family-logo;
    font-size: 1.8rem;
    padding-top: 10px;
    color: $color2;
    margin-right: 10px;
    &:hover {
      color: $color2;
    }
  }
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  position: relative;
  padding: 0 40px;
}

.is-admin-page {
  & .header-nav__item {
    color: $color1;
    &:hover {
      background: $color1;
      color: $color3;
    }
  }
  & .header-link i {
    color: $color1;
  }
}
.header-nav {
  display: flex;
  align-items: center;
  &__items {
    display: flex;
    align-items: center;
  }
  &__item {
    color: $color3;
    padding: 0 14px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    margin-left: 10px;
    &:hover {
      background: $color3;
      color: $color1;
    }
  }
}

@media screen and (max-width:768px) {
  .header .container {
    padding: 0 10px;
  }

  .header-nav__items {
    display: none;
  }
}

.header-link {
  display: flex;
  align-items: center;
  &:hover {
    cursor: pointer;
  }

  & i {
    color: $color3;
  }
}

.header-current-user__icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
