.list-container {
  margin: 20px 0px;
}

.list-item {
  display: flex;
  padding: 12px 14px;
  background: $white;
  
  &:not(:last-child) {
    border-bottom: 3px solid $color3;
  }

  &.align-center {
    align-items: center;
  }

  &.is-posted {
    // background-color: $color6;
  }

  &__user {
    display: flex;
    align-items: center;
    flex: 100;
  }

  &__icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 20px;
  }

  &__discriminator {
    color: #bbb;
  }

  &__body {
    flex: 100;
    line-height: 1.4;
  }

  &__links {
    display: flex;
    margin-left: 10px;
  }

  &__row {
    color: $color4;
    font-size: 0.8rem;
    line-height: 1.4;

    &:not(:first-child) {
      margin-top: 6px;
    }
  }
}

.list-item-title {
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 2px;
  color: $color1;
  &:hover {
    border-bottom: 1px dashed $color1;
  }
}

.list-item-meta {
  display: flex;

  &__item {
    margin-right: 10px;
  }
}

.is-admin-page {
  & .list-item:not(:last-child) {
    border-bottom: 3px solid $color1;
  }
}
