.list-container{
  margin: 20px 0px;
  border: 1px solid #eee;
  border-radius: 2px;
}

.list-item {
  display: flex;
  padding: 12px 14px;
  
  &:not(:last-child) {
    border-bottom: 1px solid #eee;
  }

  &.align-center {
    align-items: center;
  }

  &.is-posted {
    background-color: azure;
  }

  &__user {
    display: flex;
    align-items: center;
    flex: 100;
  }

  &__icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    // border: 1px solid #eee;
    margin-right: 20px;
  }

  &__discriminator {
    color: #bbb;
  }

  &__body {
    flex: 100;
    line-height: 1.4;
  }

  &__links {
    display: flex;
    margin-left: 10px;
  }

  &__row {
    color: #bbb;
    font-size: 0.8rem;
    line-height: 1.4;

    &:not(:first-child) {
      margin-top: 6px;
    }
  }
}

.list-item-title {
  font-size: 1rem;
  // font-weight: bold;
  color: #333;
}

.list-item-meta {
  display: flex;

  &__item {
    margin-right: 10px;
  }
}

.list-answer-card {
  &:hover {
    background-color: #eee;
  }
}

