@media screen and (min-width:768px) {
  .display-mobile {
    display: none;
  }
}

.nav-hidden {
  display: none;
}

#nav-input:checked ~ .nav-menu {
  display: block;
}

.nav-menu {
  display: none;
  background: #fff;
  position: absolute;
  right: 20px;
  top: 60px;
  box-shadow: 0 0 3px rgba(200, 200, 200, 0.4);
  border-radius: 2px;
  z-index: 999;

  &__items {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    &:not(:last-child) {
      border-bottom: 1px solid #eee;
    }
  }

  &__item-link {
    width: 180px;
    display: block;
    padding: 14px 20px;
    color: $color1;
    &:hover{
      color: $color1;
      background: #eee;
    }
  }
}
