@media screen and (min-width:768px) {
  .display-mobile {
    display: none;
  }
}

.nav-hidden {
  display: none;
}

#nav-input:checked ~ .nav-menu {
  display: block;
}

.nav-menu {
  display: none;

  &__background {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }

  &__items {
    position: absolute;
    right: 40px;
    top: 60px;
    background: #fff;
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 3;
    box-shadow: 0 0 3px rgba(200, 200, 200, 0.4);
    border-radius: 2px;
  }

  &__item {
    &:not(:last-child) {
      border-bottom: 1px solid #eee;
    }
  }

  &__item-link {
    width: 180px;
    display: block;
    padding: 14px 20px;
    color: $color1;
    &:hover{
      color: $color1;
      background: #eee;
    }
  }
}

@media screen and (max-width:768px) {
  .nav-menu__items {
    right: 10px;
  }
}
