.is-admin-page {
  & .page-title__text {
    color: $color3;
    margin: 0;
  }
}

.page-title {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__text {
    font-size: 1.6rem;
  }
}
  
