.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: $color1;
  
  & span {
    display: block;
    margin: 0 4px;

    &.current {
      padding: 4px 8px;
      background: $color2;
      color: $white;
      border-radius: 2px;
    }

    & a {
      display: block;
      padding: 4px 8px;
      color: $color1;
      border-radius: 2px;

      &:hover {
        background: lighten($color5, 10%);
      }
    }
  }
}

.is-admin-page {
  & .pagination {
    color: $color3;
    & span a {
      color: $color3;
      &:hover {
        background: $color4;
      }
    }
  }
}
