.search-form {
  margin-bottom: 20px;
  & form {
    margin: 0 auto;
    max-width: 300px;
    height: 40px;
    border: 1px solid $color2;
    background: $gray1;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 2px;
  }
  &__text {
    padding: 4px;
    border: none;
    flex: 100;
    outline: none;
    background: $gray1;
    color: $text-color;
  }
  & .btn-search {
    width: 34px;
    height: 34px;
    border: none;
    background: $color2;
    color: $gray1;
    border-radius: 50%;
    cursor: pointer;
  }
}

.is-admin-page .search-form {
  & form {
    border: 1px solid $gray1;
    background: $color1;
  }
  &__text {
    background: $color1;
    color: $gray1;
  }
  & .btn-search {
    background: $gray1;
    color: $color1;
  }
}

@media screen and (max-width:768px) {
  .search-form {
    & form {
      height: 38px;
    }
    & .btn-search {
      width: 32px;
      height: 32px;
    }
  }
}

.empty-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  color: $gray2;
  & i {
    font-size: 3rem;
    margin-bottom: 5px;
  }
}
