.search-form {
  margin-bottom: 3px;
  background: lighten($gray2, 10%);
  padding: 6px;
  & form {
    margin-left: auto;
    width: 250px;
    height: 32px;
    background: $white;
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 2px;
  }
  &__text {
    padding: 4px;
    border: none;
    flex: 100;
    outline: none;
    color: $text-color;
  }
  & .btn-search {
    width: 28px;
    height: 28px;
    border: none;
    background: $gray3;
    color: $gray1;
    border-radius: 4px;
    cursor: pointer;
  }
}

.is-admin-page .search-form {
  background: $gray2;
  & form {
    background: $gray1;
  }
  &__text {
    background: $gray1;
  }
}

@media screen and (max-width:768px) {
  .search-form {
    & form {
      height: 34px;
      width: 100%;
    }
    & .btn-search {
      width: 28px;
      height: 28px;
    }
  }
}

.empty-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  color: $gray2;
  & i {
    font-size: 3rem;
    margin-bottom: 5px;
  }
}
