@import "global/normalize.scss";
@import "global/variables.scss";
@import "global/*";
@import "partials/*";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (max-width:768px) {
  .main .container {
    padding: 0 10px;
  }
}

.main {
  padding: 20px 0;
  flex: 1;
}

.footer {
  text-align: center;
  color: $gray2;
  border-top: 1px solid $gray2;
  height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & span {
    font-size: 0.8rem;
  }
}

.social-links {
  margin-bottom: 8px;
}

.social-link {
  color: $gray3;
  &:hover {
    color: $gray2;
  }
  & i {
    font-size: 1.5rem;
  }
}

.is-admin-page .social-link {
  color: $gray2;
  &:hover {
    color: $gray1;
  }
}
